body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* classes */
.container {
  width: 375px;
}

.field {
  width: 90%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h1 {
  margin: 2px;
}

.info h5 {
  margin: 5px;
  padding: 0px;
}

.info button {
  margin: 5px;
}

.input-field {
  width: 100%;
}

.tree {
  width: 355px;
}

.navbar {
  /* overflow: hidden; */
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
}
